.Rproj.user
.Rhistory
.RData
Corpus*.RData*
corpus
WordNet
VerbNet
Notebook_cache
.DS_Store
NotebookOntologies_cache
CMUPronuciationDict
MilestoneReport_cache
.RDataTmp
ReleaseNews.RData
ReleaseTwitter.RData
