.Rproj.user
.Rhistory
.RData
data
Corpus&MatrixLoaded.RData
corpus
Task0-Notebook_cache
WordNet
VerbNet
Notebook_cache
Corpus&MatrixLoaded2.RData
Corpus&MatrixLoaded0.RData
Corpus&MatrixLoaded3.RData
Corpus0.RData
Corpus1.RData
Corpus2.RData
Corpus3.RData
Corpus.RData
